Source: mythtv-status
Section: unknown
Priority: extra
Maintainer: Andrew Ruthven <andrew@etc.gen.nz>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2

Package: mythtv-status
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends}, libwww-perl, libxml-libxml-perl, libdate-manip-perl
Description: Show the MythTV status
 Shows the current MythTV status and the next 10 recordings
 for today and tomorrow.
 .
 Also provides funtionality for updating the MOTD with
 this information, this can provide a good heads on when 
 you should avoid heavy CPU or I/O work on your MythTV
 backend.
